<h1 mat-dialog-title>{{ 'projects.add_project.title' | translate }}</h1>
<div *ngIf="projectForm" id="register-form">
  <form name="projectForm" [formGroup]="projectForm" fxLayout="column" novalidate>
 
    <mat-form-field appearance="outline">
      <mat-label>{{ 'projects.add_project.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
   
      <mat-error>
        {{ 'field_is_required' | translate }}
      </mat-error>
    </mat-form-field>


    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
       
      <mat-form-field color="accent">
        <mat-label>{{ 'projects.add_project.start' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startAt">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field color="accent">
        <mat-label>{{ 'projects.add_project.end' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endAt">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>

          <input class="ng-hide" id="input-file-id" multiple type="file" />
          <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>

      <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="projectForm.invalid">
        {{ 'projects.add_project.add' | translate }}
      </button>
    </div>
  </form>
</div>