@import 'src/@fuse/scss/fuse';

#register-form {
  padding: 0;

  @include media-breakpoint('xs') {
    text-align: center;
    padding: 24px;
  }

  .info-perso {
    mat-form-field {
      width: 49% !important;
    }
  }

  .logo {
    width: 128px;
    margin: 32px auto;
  }

  .title {
    font-size: 21px;
  }

  .description {
    padding-top: 8px;
  }

  form {
    width: 100%;
    padding-top: 32px;

    mat-form-field {
      width: 100%;

      @include media-breakpoint('xs') {
        width: 80%;
      }
    }

    mat-checkbox {
      margin: 0;
    }

    .terms {
      margin: 16px 0 32px 0;

      a {
        font-size: 16px;
        margin-left: 4px;
      }
    }

    .submit-button {
      width: 100%;
      margin: 16px auto;
      display: block;

      @include media-breakpoint('xs') {
        width: 80%;
      }
    }
  }

  .separator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    text-align: center;

    .text {
      display: inline-flex;
      position: relative;
      padding: 0 8px;
      z-index: 9999;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 30px;
        position: absolute;
        top: 10px;
        border-top: 1px solid;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }
    }
  }
}
