<h1 mat-dialog-title>{{ 'profile.form.title' | translate }}</h1>
<div *ngIf="editForm" id="register-form">
  <form name="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()" fxLayout="column" novalidate>
    <div fxLayout="row" class="info-perso" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'signup.form.first_name' | translate }}</mat-label>
        <input matInput formControlName="firstname" />
        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        <mat-error>
          {{ 'field_is_required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'signup.form.last_name' | translate }}</mat-label>
        <input matInput formControlName="lastname" />
        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        <mat-error>
          {{ 'field_is_required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{ 'signup.form.role' | translate }}</mat-label>
        <mat-select formControlName="role" required>
          <mat-option [value]="'Cp'"> CP </mat-option>
          <mat-option [value]="'developer'"> Developer </mat-option>
          <mat-option [value]="'test'"> Testeur </mat-option>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">expand_more</mat-icon>
        <mat-error>Country is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'signup.form.email' | translate }}</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        <mat-error *ngIf="editForm.get('email').hasError('required')">
          {{ 'field_is_required' | translate }}
        </mat-error>
        <mat-error *ngIf="editForm.get('email').hasError('email')">
          {{ 'email_is_not_valid' | translate }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="editForm.invalid">
        {{ 'profile.form.save' | translate }}
      </button>
    </div>
  </form>
</div>
