<div id="profile" class="page-layout simple tabbed">
  <!-- HEADER -->
  <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">
    <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
      <img
        class="profile-image avatar huge"
        [src]="this.user.photo ? getPhoto() : './../../../assets/images/user-photo.jpeg'"
        (click)="photo.click()"
        [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
      />

      <input type="file" style="display: none" #photo (change)="uplaodPhoto($event)" />
      <div class="name" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">{{ user.firstname + ' ' + user.lastname }}</div>
    </div>

    <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{ value: '*', params: { delay: '200ms' } }">
      <button mat-raised-button color="accent" aria-label="Follow">{{ 'profile.follow' | translate }}</button>
      <button mat-raised-button color="primary" aria-label="Send Message">{{ 'profile.send_message' | translate }}</button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <mat-tab-group dynamicHeight="true">
      <mat-tab label="{{ 'profile.about' | translate }}">
        <app-about [user]="user"></app-about>
      </mat-tab>

      <mat-tab label="{{ 'profile.historic' | translate }}">
        <app-historic></app-historic>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- / CONTENT -->
</div>
